<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%
      var employee;
    %>
    <h1><%= title %></h1>
    <form method="POST" action="/employees/save">
      <input type="hidden" name="id" value="<%= employee?.id %>" />
      <label>First Name: <input name="firstName" value="<%= employee?.firstName %>" /></label>
      <label>Last Name: <input name="lastName" value="<%= employee?.lastName %>" /></label>
      <input type="submit" />
    </form>
  </body>
</html>
