<%- include('header') -%>
<% var employees; %>
<h1><%= title %></h1>
<section>
    <div><a href="/employees/edit">New</a></div>
</section>
<section><ul>
    <% employees.forEach(function (employee) { %>
        <li>
            <span><%= employee.firstName %></span> <span><%= employee.lastName %></span>
            <a href="/employees/details/<%= employee.id %>">Details</a>
            <a href="/employees/edit/<%= employee.id %>">Edit</a>
        </li>
    <% }) %>
</ul></section>
<%- include('footer') -%>
